/*
* {
  margin:0;
  padding: 0;
}
*/

html, body {
  height: 100%;
}

body {
  font-size: 10px;
  background: rgb(149, 194, 215);
  display: flex;
  flex-direction: column;
}

.small-photo-caption {
  background: rgb( 96, 125, 139);
  color: rgb(202, 238, 255);
  margin: 0;
  padding: 4px 10px;
  /*already a block element*/
  font-size: 18px;
}

.small-photo-list {
  flex: 0 1 auto;
  order: 2;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.small-photo {
  width: 100%;
  display: block;
}

.main-title {
  flex: 0 1 auto;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.text-logo {
  background: white;
  text-align: center;
  font-size: 37px;
  font-family: 'Nunito', sans-serif;
}

.list-item {
  /*display: block; czy potrzebne ???*/
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  /*
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  */
}

img {
  border-top: 1px solid rgba(100%, 100%, 100%, 0.8);
  border-left: 1px solid rgba(100%, 100%, 100%, 0.8);
  border-right: 1px solid rgba(100%, 100%, 100%, 0.8);
  padding: 0;
  margin: 0;
}

figcaption {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(100%, 100%, 100%, 0.8);
  border-left: 1px solid rgba(100%, 100%, 100%, 0.8);
  border-right: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.big-photo {
  /*
  max-height: 320px;
  */
  width: 905;
}

.big-photo-frame {
  text-align: center;
  position: relative;
}

.big-photo-container {
  background: red;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-photo-caption {
  position:absolute;
  bottom: -16px;
  left: 4px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 9px;
  font-size: 40px;
}

figure {
  display: inline;
}

@media all and (min-width: 768px){
  .main-content{
    flex-direction: row;
    overflow: hidden;
  }
  .small-photo-list {
    flex-direction: column;
    order:0;
  }
}
