/*
* {
  margin:0;
  padding: 0;
}
*/

html, body {
  height: 100%;
}

body {
  font-size: 10px;
  background: #f4cc70;
  /*rgb(149, 194, 215); #c2b280 */
  display: flex;
  flex-direction: column;
}

.small-photo-caption {
  color: black;
  margin: 0;
  padding: 4px 10px;
  /*already a block element*/
  font-size: 18px;
}

.small-photo-list {
  margin-top: 32px;
  flex: 0 1 auto;
  order: 2;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  list-style: none;
  padding: 20px 0;
  white-space: nowrap;
  overflow-x: auto;
}

.small-photo {
  width: 100%;
  display: block;
}

.main-title {
  flex: 0 1 auto;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.text-logo {
  color: #de7a22;
  background: white;
  text-align: center;
  font-size: 37px;
  font-family: 'Nunito', sans-serif;
}

.list-item {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  transition: transform 150ms ease-in-out;
}

.list-item:hover {
  transform: scale(1.2);
}
.list-item + .list-item {
  margin-left: 10px;
}
img {
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  padding: 0;
  margin: 0;
  width: inherit;
  display: block;
}

.big-photo {
  width: 90%;
}

.big-photo-frame {
  text-align: center;
  position: relative;
  transition: transform 555ms cubic-bezier(1, 0.06, 0.28, 1);
}

.very-small-photo {
  transform: scale(0.001);
  transition: transform 0ms;
}

.big-photo-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-photo-caption {
  position: absolute;
  bottom: -40px;
  left: 4px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 9px;
  font-size: 40px;
}

figure {
  display: inline;
}


/*don't display big photo*/

.big-photo-hidden .big-photo-container {
  display: none;
}


/*how to display small photos when gig is hidden*/

.big-photo-hidden ul.small-photo-list {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-photo-hidden ul {
  width: 100%;
}

.big-photo-hidden .list-item {
  max-width: 100%;
}

@media all and (min-width: 768px) {
  .main-content {
    flex-direction: row;
    overflow: hidden;
  }
  .small-photo-list {
    flex-direction: column;
    order: 0;
    margin-left: 20px;
    padding: 0 35px;
  }
  .list-item {
    max-width: 320px;
  }
  .list-item+.list-item {
    margin-top: 20px;
  }
}
